* {
    font-family: serif;
    color: rgb(37, 37, 37);
}

a {
text-decoration: none;
}


a:visited {
    color: grey;
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 197, 197);
  }

body {
    max-width: 90%;
    margin: 50px;
    background: linear-gradient(to bottom, #ffffff, #adadad);
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/884/558/small/dense-fluffy-puffs-of-white-smoke-and-fog-on-transparent-background-abstract-smoke-clouds-movement-blurred-out-of-focus-smoking-blows-from-machine-dry-ice-fly-fluttering-in-air-effect-texture-png.png");
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
}

blockquote {
    max-width: 50%;
    /* margin: auto; */
    background-color: rgb(233, 233, 233);
    font-size: 160%;
    border-left: 3px solid #5c5c5c;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-style: italic;
}
.villagers{
    border-left: 3px solid #e60000;
}

.farmer {
    border-left: 3px solid #5c5c5c;
}

header > h1 {
    background-color: rgb(54, 54, 54);
    color : white;
    padding-left : 8px;
}

.Bad {
    color: #e60000;
    text-transform: capitalize;
}

.Good {
    color: green;
    text-transform: capitalize;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Grey background for even rows */
  }

  table tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
  }

  .notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  img {
    float: right;
  }
  
  